body {
    margin: 0;
    line-height: normal;
    color: #2b1b1f;
    background: linear-gradient(to bottom, #74b9ff, #2d3436, #0c111a);

background-color: #FFF5F7;
background-image: url("https://i.pinimg.com/736x/25/8a/28/258a285baa4319f6228118d327131240.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-attachment: fixed;
}

@font-face {
    font-family: Matcha Mint;
    src: url(font/MatchaMint.ttf);
}

header{
    font-family: Matcha Mint, sans-serif;
    background-color: rgba(255, 255, 255, 0.3); /* Low opacity white */
    backdrop-filter: blur(10px); 
    color: #29274C;
    padding: 20px;
    text-align: center;
}

#counter-container {
    vertical-align: middle;
    margin: 0 auto;
    position: fixed;
    bottom: 20px;
    left: 42vw;
    width: 11vw;
    color: #FFFFFF;
    background-color: #433352;
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: bold;
    z-index: 1000;
    padding: 15px 25px;
    border-radius: 8px;
    text-align: center;
}

.scroll-space {
    height: 6
}
#depth-number{
    position: fixed;
    top: 20px;
    left: 20px;
    width: 100px;   
}

.fullscreen-img {
    width: 300px;
    height: auto;
    margin: 20px 0;
    border-radius: 12px;
}

.caption-text {
    font-size: 36px;
    color: #29274C;
    text-align: center;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-variation-settings: 'SOFT' 100; /* If using the variable font */
}

.image-grid{
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}

.image-card{
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
    padding: 24px;
    margin: 60px auto;
    width: auto;
    text-align: center;
}

.extra-bits{
    font-size: xx-large;
    color:#340b56
}